@import "tailwindcss";

@theme {
  --color-terminal-bg: #1e1e1e;
  --color-terminal-text: #ffffff;
  --color-terminal-dim: #666666;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  body {
    background-color: var(--color-terminal-bg);
    color: var(--color-zinc-100);
    @apply font-mono overflow-hidden;
    margin: 0;
    padding: 0;
  }
}